.fox {
    &__burrow {
        position: absolute;
        bottom: 10%;
        right: 5%;
        width: 25%;
        height: 25%;
        background-image: url("../images/fox/burrow.png");
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 500;
    }

    &__character {
        position: absolute;
        bottom: 3%;
        right: 15%;
        width: 15%;
        height: 15%;
        background-image: url("../images/fox/fox.png");
        background-repeat: no-repeat;
        background-size: contain;
        transform: translateY(0);
        animation: foxUpDown 2s ease-in-out infinite;
        z-index: 4900;
    }

    &__bush-right {
        position: absolute;
        bottom: 7%;
        right: 8%;
        width: 10%;
        height: 10%;
        background-image: url("../images/fox/right-bush.png");
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotateZ(0deg);
        animation: bushRotation 4s step-start 72s 3;
        z-index: 710;
    }

    &__bush-left {
        position: absolute;
        bottom: 7%;
        right: 22%;
        width: 10%;
        height: 10%;
        background-image: url("../images/fox/left-bush.png");
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotateZ(0deg);
        animation: bushRotation 4s step-start 72s 3;
        z-index: 720;
    }
}

@keyframes foxUpDown {
    from {
        transform: translateY(0);
    }

    50% {
        transform: translateY(2px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes bushRotation {
    0% {
        transform: rotateZ(0);
    }

    25% {
        transform: rotateZ(-5deg);
    }

    50% {
        transform: rotateZ(0);
    }

    75% {
        transform: rotateZ(5deg);
    }
}